.container-msg {
    padding: 10px;
    margin-top: -130px;
    margin-bottom: 15px;
    background: black;
    min-width: 100%;
    text-transform: uppercase;
    font-weight: bold;
    color: #fcdf2b;
    border: 2px solid #fcdf2b;
    p {
        margin: 5px;
    }
}