body {
    background: url("assets/images/background.jpg");
    min-width: 100%!important;
    margin: 0 auto!important;
    padding: 0!important;
    background-repeat: no-repeat;
    background-size: cover;
}

alert-menssage {
    margin: 0 auto;
}

button {
    box-shadow: none!important;
}